@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  /* margin: 0;
  padding: 0; */
  /* background: linear-gradient(120deg,#2980b9, #8e44ad);  */
  background: linear-gradient(#e8ded2,#5eaaa8);
  /* height: 100vh; */
  /* overflow: hidden; */
}

.main-container{
  height: 100vh;
}

.navi{
  display: flex;
  align-items: center;
  padding: 18px;
  padding-left: 130px;
  padding-right: 130px;
}
nav{
  text-align: right;
  flex: 1;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
nav ul li{
  display: inline-block;
  margin-right: 15px;
  padding: 2px;
}



.center{
  position: absolute;
  
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}


/* Footer */

.footer{
  background: #303036;
  color: #d3d3d3;
  height: 400px;
}
.footer .footer-content{
  height: 350px;
  display: flex;
}

.footer .footer-content .footer-section{
  flex: 1;
  padding: 25px;
  
}


.text-input{
  padding: .7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-size: 1.2em;

}
.footer .footer-content .about .contact span{
   display: block;
   font-size: 1.1em;
   margin-bottom: 8px;
}
.footer .footer-content .about .social a{
  border: 1px solid gray;
  width: 45px;
  height: 40px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: all 0.5s;
  color: #ffffff;
}
.footer .footer-content .about .social a img{
  width: 30px;
  height: 30px;
}
.footer .footer-content .about .social a:hover{
  border: 1px solid white;
  color: white;
  transition: all 0.3s;
}
.footer .footer-content .links ul a{
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: all 3s;
  color: #ffffff;
}
.footer .footer-content .links ul{
  padding-top: 30px;
  padding-left: 65px;
}
.footer .footer-content .links ul li:hover{
  color: white;
  margin-left: 15px;
  transition: all 0.5s;
}
.footer .footer-content .contact-form .contact-input{
  background: #272727;
  color: #beddbd;
  margin-bottom: 10px;
  line-height: 2rem;
  padding: 0.7rem 1.2rem;
  border: none;
}
.footer .footer-content .contact-form .contact-input:focus{
  background: #1a1a1a;
}
.footer .footer-content .contact-form button{
  border: none;
  transition: background 0.5s;
}
.footer .footer-content .contact-form .button:hover{
  color: #ee6f57;
  transition: background 0.5s;
}
.footer .footer-content .contact-form{
  text-align: center;
  transform: translateY(30px);
}
.footer .footer-content .contact-form h2{
  transform: translateY(-20px);
}



.footer .footer-bottom{
  margin-top: 20px;
  background: #343a30;
  color: #686868;
  width: 100%;
  height: auto;
  text-align: center;
  position: sticky;
   left: 0px;
  
}
.footer .footer-bottom p{
  padding-top: 12px;
} 